Source: noson-app
Section: misc
Priority: optional
Maintainer: janbar <jlbarriere68@gmail.com>
Build-Depends: cmake,
               git,
               debhelper-compat (= 12),
               qt6-base-dev,
               qt6-tools-dev-tools,
               qt6-declarative-dev,
               qt6-declarative-dev-tools,
               qt6-5compat-dev,
               zlib1g-dev,
               libssl-dev,
               libpulse-dev,
               libflac-dev,
               libflac++-dev,
               libdbus-1-dev,
               qml6-module-qtcore,
               qml6-module-qt-labs-platform,
               qml6-module-qt-labs-qmlmodels,
               qml6-module-qt-labs-settings,
               qml6-module-qt5compat-graphicaleffects,
               qml6-module-qtqml,
               qml6-module-qtqml-models,
               qml6-module-qtquick,
               qml6-module-qtquick-controls,
               qml6-module-qtquick-dialogs,
               qml6-module-qtquick-effects,
               qml6-module-qtquick-layouts,
               qml6-module-qtquick-particles,
               qml6-module-qtquick-shapes,
               qml6-module-qtquick-templates,
               qml6-module-qtquick-window,
               libqt6core5compat6,
               libqt6dbus6,
               libqt6gui6,
               libqt6svg6
Standards-Version: 3.9.6
Homepage: https://github.com/janbar/noson-app

Package: noson-app
Architecture: any
Depends: qml6-module-qtcore,
         qml6-module-qt-labs-platform,
         qml6-module-qt-labs-qmlmodels,
         qml6-module-qt-labs-settings,
         qml6-module-qt5compat-graphicaleffects,
         qml6-module-qtqml,
         qml6-module-qtqml-models,
         qml6-module-qtquick,
         qml6-module-qtquick-controls,
         qml6-module-qtquick-dialogs,
         qml6-module-qtquick-effects,
         qml6-module-qtquick-layouts,
         qml6-module-qtquick-particles,
         qml6-module-qtquick-shapes,
         qml6-module-qtquick-templates,
         qml6-module-qtquick-window,
         libqt6core5compat6,
         libqt6dbus6,
         libqt6gui6,
         libqt6svg6,
         qt6-translations-l10n,
         zlib1g,
         openssl,
         libpulse0,
         libdbus-1-3,
         ${shlibs:Depends}, ${misc:Depends}
Description: SONOS controller for Linux
 Touch enabled SONOS controller for Linux
