Source: noson-app
Section: misc
Priority: extra
Maintainer: janbar <jlbarriere68@gmail.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               intltool,
               qtbase5-dev,
               qtdeclarative5-dev,
               qttools5-dev,
               qttools5-dev-tools,
               zlib1g-dev,
               libssl-dev
Standards-Version: 3.9.6
Homepage: https://github.com/janbar/noson-app

Package: noson-app
Architecture: any
Depends: qmlscene,
         qml-module-qt-labs-settings,
         qml-module-qtmultimedia,
         qtdeclarative5-ubuntu-content1,
         qtdeclarative5-particles-plugin,
         qtdeclarative5-qtmultimedia-plugin,
         qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-ubuntu-thumbnailer0.1,
         qtdeclarative5-ubuntu-ui-toolkit-plugin,
         qtdeclarative5-window-plugin,
         thumbnailer-service,
         suru-icon-theme,
         ubuntu-mobile-icons,
         zlib1g,
         openssl,
         ${shlibs:Depends}, ${misc:Depends},
Description: SONOS controller for Ubuntu Touch
 Touch enabled SONOS controller for Ubuntu

